-# This form is only used when someone tries to log in as en existing user, which generally means they're trying to signin

= twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.inputs "Create a new user" do
    = f.text_field :name
    = f.email_field :email do
      %br
      .aside_small
        = surround '(', ')' do
          = succeed '?' do
            did you mean to
            = link_to("sign in", new_session_path(resource_name))


    = f.password_field :password

  = f.actions do
    = f.submit "Create"