%tr
  %td
    = link_to_project project
  %td
    = link_to "repo", project.vcs_url
  %td
    = project.users.map { |u| u.known_email }
  %td
    = link_to 'edit', github_project_edit_path(project)
  %td
    = trigger_project_button(project)

- if project.recent_builds.count > 0
  %tr
    %td{:colspan => 5}
      %table.inner
        %thead
          %tr
            %th #
            %th status
            %th rev
            %th started
            %th time taken

        %tbody
          -# TECHNICAL_DEBT copied
          = render :collection => project.recent_builds(3), :partial => 'projects/build', :locals => {:project => project}
