%tr
  %td
    = link_to project.github_project_name, github_project_path(project)
  %td
    = link_to "repo", project.vcs_url
  %td
    = project.users.map { |u| u.known_email }
  %td
    = project.visible
  %td
    = twitter_bootstrap_form_for [project, Build.new], :remote => true do |f|
      = f.submit "Trigger job", :disable_with => "Submitting..."


- if project.builds.count > 0
  %tr
    %td{:colspan => 5}
      %table
        %thead
          %tr
            %th #
            %th status
            %th rev
            %th started
            %th time taken

        %tbody
          -# TECHNICAL_DEBT copied
          %thead
            = render :collection => project.builds, :partial => 'projects/build'