.container
  - @logs.each do |l|
    %div{ :class => [0, nil].include?(l["exit_code"]) ? "alert-message success" : "alert-message error" }
      = l.name
      = surround '(', ')' do
        = l.start_time
        = l.end_time

    .rest
      - if l["out"]
        %table
          %thead
            %tr
              %th Timestamp
              %th stdout/stderr
          %tbody
            - l["out"].each do |o|
              - if o["message"] != ""
                %tr
                  %td
                    = o["time"]
                  %td
                    %div{ :class => o['type'] == "out" ? "alert-message block-message success" : "alert-message block-message error" }
                      %pre
                        = o["message"]
