.container
  .row
    .alert-message.block-message.notice.span8.offset3

      We are setting up your projects for you, focusing on standard frameworks
      like Rails, Node, Clojure, etc. If you have a non-standard project, you
      can set it up manually using the 'edit' link.
      %br
      %br

      If you have any problems, questions, feedback or comment, please message us directly via the white envelope below, or contact us directly:
      %ul.contact
        %li
          (415) 341-2432
        %li
          = mail_to "paul@circleci.com"

  %table#projects
    %thead
      %tr
        %th Status
        %th Project
        %th Latest build
        %th Edit
    %tbody
      - @projects.each do |project|
        %tr
          %td
            - if project.latest_build
              != bootstrap_status project.latest_build
          %td
            = link_to(project.github_project_name, github_project_path(project))
          %td
            - if project.latest_build
              = build_link_to (project.latest_build)
          %td
            = link_to "edit", github_project_edit_path(project)
