.container-fluid
  .sidebar

    = render :partial => "sidebar_table",
             :locals => { :title => "Active", :filter => :active }

    = render :partial => "sidebar_table",
             :locals => { :title => "Uninferrable", :filter => :uninferrable }

    = render :partial => "sidebar_table",
             :locals => { :title => "Inactive", :filter => :inactive }

    = render :partial => "sidebar_table",
             :locals => { :title => "Disabled", :filter => :disabled }


  .content
    .row
      %h1
        Latest builds

      %table#projects
        %thead
          %tr
            %th Project
            %th #
            %th Revision
            %th Author
            %th Log
            %th Started
            %th Time taken
            %th Last Status
            %th Edit
        %tbody
          - @recent_builds.each do |build|
            - project = build.project
            %tr
              %td
                = link_to(project.github_project_name, github_project_path(project))

              %td
                = build_link_to build

              %td
                = revision_link_to build.vcs_url, build.vcs_revision, build.branch

              %td
                = mail_to build.author_email, build.author_name

              %td
                = log_link_to(build.subject, build.body, 50)

              %td
                = as_commit_time build.start_time

              %td
                = as_length_of_build build.start_time, build.stop_time
                - if build.status == :running
                  (still running)

              %td
                != bootstrap_status build

              %td
                = link_to "edit", github_project_edit_path(project)
