.container-fluid
  .sidebar

    = render :partial => "sidebar_table",
             :locals => { :title => "Active", :filter => :active }

    = render :partial => "sidebar_table",
             :locals => { :title => "Uninferrable", :filter => :uninferrable }

    = render :partial => "sidebar_table",
             :locals => { :title => "Inactive", :filter => :inactive }

    = render :partial => "sidebar_table",
             :locals => { :title => "Disabled", :filter => :disabled }


  .content
    - if current_user.sign_in_count < 5
      .row
        .alert-message.block-message.success.span8.offset2
          %strong Welcome to Circle! Push your code to start your builds!
          %br

          Everything should just work - we're inferring your build
          configurations and we've added hooks and deploy keys to your repos.

          However, if you have non-standard configurations, edit your
          projects to describe how to build them.


    .row
      %h1
        Latest builds

      %table#projects
        %thead
          %tr
            %th Build
            %th Revision
            %th Author
            %th Log
            %th Started
            %th Length
            %th Status
        %tbody
          - @recent_builds.each do |build|
            %tr
              %td
                = build_link_to build, true
              %td
                = revision_link_to build
              %td
                = build.author_name || build.author_email
              %td
                = log_link_to(build.subject, build.body, 50)
              %td
                = as_commit_time build.start_time
              %td
                = as_length_of_build build.start_time, build.stop_time
                - if build.status == :running
                  (still running)
              %td
                = bootstrap_status build, nil, build_url(build.project, build.build_num)
