.container-fluid
  .sidebar.well
    %table.condensed-table
      %thead
        %tr
          %th
            Projects
      %tbody
        - @projects.each do |p|
          %tr
            %td
              = project_link_to p

            %td.build_column
              - b = p.latest_build
              - if b
                != bootstrap_status b, build_link_to(b, p)


            %td.icons
              = link_to 'edit', github_project_edit_path(p)

  .content
    .row
      %h1
        Latest builds

      %table#projects
        %thead
          %tr
            %th Last Status
            %th Project
            %th Latest build
            %th Edit
        %tbody
          - @projects.each do |project|
            - build = project.latest_build
            %tr
              %td
                - if build
                  != bootstrap_status project.latest_build
              %td
                = link_to(project.github_project_name, github_project_path(project))
              %td
                - if build
                  = build_link_to (project.latest_build)
              %td
                = link_to "edit", github_project_edit_path(project)
