.topbar-wrapper
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container-fluid
        %h3
          = link_to "Circle", root_path, :class => :brand


        - begin
          = render :partial => 'topbar_' + params[:controller]
        - rescue ActionView::MissingTemplate

        - begin
          = render :partial => 'topbar_' + params[:action]
        - rescue ActionView::MissingTemplate

        %ul.nav.secondary-nav
          - if Rails.env.development?
            %ul.nav
              %li.development
                %a
                  DEVELOPMENT
          %li.dropdown
            = link_to current_user.email, '#', :class => "dropdown-toggle"
            %ul.dropdown-menu
              %li
                = link_to('Add more projects', join_path)
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
              - if current_user.admin?
                = render :partial => 'shared/admin'
