.move-right
  .blue-box
    %h2.takepart Sign up for the beta
    %p.whenready We'll email you when we're ready.

    = form_tag(notify_signup_path, :onsubmit => 'if (this.email.value == "Email address") { this.email.style.background = "red"; return false; }') do
      %fieldset#actualform
        %ul
          %li
            = text_field_tag(:email, 'Email address',
                              :onblur => "if (this.value == '') { this.value = 'Email address'};",
                              :onfocus =>  "this.style.background = 'white'; if (this.value == 'Email address') { this.value=''};")
          %li
            = check_box_tag(:contact, 'true', true)
          %li
            %div
              %div
                = label_tag(:contact, "May we contact you to ask about your platform, stack, test suite, etc?", {:id => "contact-label"})
      %fieldset
        = submit_tag("Get Notified", :class => :call_to_action)
