#notthefooter
  #header_wrap
    #header
      %h1#logo
        %a{:href => root_path, :title => "Go to Circle homepage"}
          = image_tag("circle-transparent.png", :id => "circle")
          = image_tag("circle-word.png", :id => "circle-word")

      %ul#nav
        %li
          = link_to "Signup", root_path, :class => "current_page"
        -#%li
          = link_to "Login", "/login"
      .clear
  #pitch_wrap
    #pitch
      != centering("left-panel") do
        %h1#cititle
          Continuous Integration
          %br
          made easy
      != centering("right-panel") do
        - if flash[:done]
          = render 'youre_done'
        - else
          = render 'signup_form'

      .clear
  #content_wrap
    #content
      #main_content_wide.left
        .box_medium.feature.separator_r
          = image_tag "home/icon_feature_04.png", :height => "55", :width => "60"
          %h3 Minimal configuration
          %p In most cases, we'll just need access to your repo.
        .box_medium.feature
          = image_tag "home/icon_feature_01.png", :height => "55", :width => "60"
          %h3 Go home early
          %p Push to a branch, and we'll automatically merge once the tests pass.
        .box_medium.feature.separator_r
          = image_tag "home/icon_feature_02.png", :height => "55", :width => "60"
          %h3 Lightning fast tests
          %p Find out as soon as something breaks, using automatic parallelization, dependency analysis and test prioritization.
        .box_medium.feature
          = image_tag "home/icon_feature_03.png", :height => 55, :width => "60"
          %h3 Continuous deployment
          %p Deploy your web app to prodution automatically once tests pass. Revert automatically based on your analytics data.
  .clear
  #notthefooterclear

#footer_wrap
  #footer
    .box_wide.separator_r
      %p#copyright Copyright &copy; 2011 Circle
    #social_info.box_small.separator_r
      %ul
        %li#twitter
          = link_to "follow @circleci", "http://twitter.com/circleci"
    #contact_info.box_small
      %ul
        %li
          %h5
            questions@circleci.com
    .clear
