#notthefooter
  #header_wrap
    #header
      %h1#logo
        %a{:href => "/", :title => "Go to Circle homepage"}
          = image_tag("circle-transparent.png", :class => "circle")
          = image_tag("circle-word.png", :class => "circle-word")

      %ul#nav
        %li
          = link_to "Signup", "/", :class => "current_page"
        %li
          = link_to "Login", "/login"
      .clear
  #pitch_wrap
    #pitch
      #left-panel.vcenter1
        .vcenter2
          .vcenter3
            %h1#cititle
              Continuous Integration
              %br>/
              made easy
      #right-panel.vcenter1
        .vcenter2
          .vcenter3
            .move-right
              .blue-box
                %h2.takepart Sign up for the beta
                %p.whenready We'll email you when we're ready.
                %form{:action => "/", :method => "POST", :onsubmit => "if (this.email.value == &quot;Email address&quot;) { this.email.style.background = 'red'; return false; }"}
                  %fieldset#actualform
                    %ul
                      %li
                        %input#email{:name => "email", :onblur => "if (this.value == '') { this.value = 'Email address'};", :onfocus => "this.style.background = 'white'; if (this.value == 'Email address') { this.value=''};", :type => "text", :value => "Email address"}/
                      %li
                        %input#contact{:checked => "checked", :name => "contact", :type => "checkbox", :value => "true"}/
                      %li
                        %div
                          %div
                            %label#contact-label{:for => "contact"} May we contact you to ask about your platform, stack, test suite, etc?
                  %fieldset
                    %input.call_to_action{:type => "submit", :value => "Get Notified"}/
      .clear
  #content_wrap
    #content
      #main_content_wide.left
        .box_medium.feature.separator_r
          = image_tag "icon_feature_04.png", :height => "55", :width => "60"
          %h3 Minimal configuration
          %p In most cases, we'll just need access to your repo.
        .box_medium.feature
          = image_tag "icon_feature_01.png", :height => "55", :width => "60"
          %h3 Go home early
          %p Push to a branch, and we'll automatically merge once the tests pass.
        .box_medium.feature.separator_r
          = image_tag "icon_feature_02.png", :height => "55", :width => "60"
          %h3 Lightning fast tests
          %p Find out as soon as something breaks, using automatic parallelization, dependency analysis and test prioritization.
        .box_medium.feature
          = image_tag "icon_feature_03.png", :height => 55, :width => "60"
          %h3 Continuous deployment
          %p Deploy your web app to prodution automatically once tests pass. Revert automatically based on your analytics data.
  .clear
  #notthefooterclear
#footer_wrap
  #footer
    .box_wide.separator_r
      %p#copyright Copyright &copy; 2011 Circle
    #social_info.box_small.separator_r
      %ul
        %li#twitter
          = link_to "follow @circleci", "http://twitter.com/circleci"
    #contact_info.box_small
      %h5/
      %ul
        %li questions@circleci.com
    .clear
