%tr
  %td{ :class => build.status }
    = build_link_to(build, project)

  %td
    = revision_link(build.vcs_url, build.vcs_revision)



  -# TODO: need the commit log and the author

  %td{ :class => build.status }
    = as_commit_time build.start_time

  %td{ :class => build.status }
    = as_length_of_build build.start_time, build.stop_time
    - if build.status == :running
      (still running)

  %td{ :class => build.status }
    = build.status