%tr
  %td{ :class => build.status }
    = link_to(build.build_num, github_project_path(@project) + "/" + build.build_num.to_s)

  %td{ :class => build.status }
    = build.status

  %td
    = revision_link(build.vcs_url, build.vcs_revision)



  -# TODO: need the commit log and the author

  %td{ :class => build.status }
    = as_commit_time build.start_time

  %td{ :class => build.status }
    - if build.status == :running
      Still running
    - else
      = as_length_of_build build.start_time, build.stop_time
