.topbar-wrapper
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container-fluid
        %h3
          %a.brand{:href => '#'}
            Circle

        %ul.nav
          %li.active
            %a{:href => '#'}
              = @project.name

        %ul.nav.secondary-nav
          %li.dropdown
            %a.dropdown-toggle{:href => '#'}
              = current_user.email
            %ul.dropdown-menu
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)

.container
  .content
    %h4
      = @project.name
    %h6
      = @project["vcs-url"]

    = render :partial => 'running'
    = render :partial => 'running'

    %table#recent-jobs
      %thead
        %tr
          %th
            Revision
          %th
            Author
          %th
            Success?
          %th
            \% complete

      = render @project.jobs.order_by([[:_id, :desc]]).limit(10), :partial => 'job'

-#  = form_for [@project, Job.new], :remote => true do |f|
-#    = f.submit "Trigger job"

