!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Commit #{@build.vcs_revision} has failed its tests!
      %br
      = build_link_to @build, :text => "Read the full build report"

    %p
      Failing command:
      %br
      &nbsp;
      &nbsp;
      #{@failing_log.name}

    %p
      Output:
      %br
      - @failing_log.out.each do |o|
        &nbsp;
        &nbsp;
        = o["message"]
        %br

    %p
      - if @failing_log["exit_code"] == nil
        No exit code
      - else
        Exit code: #{@failing_log["exit_code"]}


    %p
      These rest of the commands were successful:
      %br
      - @other_logs.each do |o|
        &nbsp;
        &nbsp;
        = o["name"]
        %br


    %p
      = build_link_to @build, :text => "Read the full build report"
