%h4
  Add projects to Circle

= form_tag("TODO", :method => :post, :remote => true) do |f|
  %table#projects
    %thead
      %tr
        %th Project
        %th Description
        %th Language
        %th Fork?
        %th Public?
        %th Add?
    %tbody
      - @result.each do |project|
        %tr
          %td
            - name = "#{project[:owner][:login]}/#{project[:name]}"
            = name
          %td
            = project[:description]
          %td
            = project[:language]
          %td
            = project[:fork]
          %td
            = not project[:private]
          %td
            = check_box_tag "arohner/circleci", "add", true # TODO: add project id here

  = check_box_tag("public", :id => "public")
  = check_box_tag("forks", :id => "forks")
  = submit_tag("Add projects")

:javascript
  $(document).ready(function() {
    $('#projects').dataTable({
      "bFilter": false,
      "bPaginate": false,
      "bSort": true,
      "bInfo": false});
  })
