%h2 Sign up
= form_for(current_user, :as => "test", :url => registration_path("test"=)) do |f|
  = devise_error_messages!
  %div
    = f.label :name
    %br/
    = f.text_field :name
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :password
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Sign up"
= render :partial => "devise/shared/links"
