%h4
  Add projects to Circle

= form_tag("TODO", :method => :post, :remote => true) do |f|
  = label_tag :public, "show public"
  = check_box_tag("public")
  %br
  = label_tag :forks, "show forks"
  = check_box_tag("fork")
  
  %table#projects
    %thead
      %tr
        %th Project
        %th Description
        %th Language
        %th Fork?
        %th Public?
        %th Add?
    %tbody
      - @result.each do |project|
        %tr
          %td
            - name = "#{project[:owner][:login]}/#{project[:name]}"
            = name
          %td
            = project[:description]
          %td
            = project[:language]
          %td
            = project[:fork]
          %td
            = not project[:private]
          %td
            = check_box_tag "arohner/circleci", "add", true # TODO: add project id here

  = submit_tag("Add projects")

:javascript
  var project_table;
  $(document).ready(function() {
    project_table = $('#projects').dataTable({
      <!-- "bFilter": false, -->
      "bPaginate": false,
      "bSort": true,
      "bInfo": false,
      <!-- "aoColumnDefs": [{"bVisible": false, "aTargets": [3, 4]}] -->
     });
    $('#fork').click(function() {
      if ($('#fork').is(':checked'))
      {
        project_table.fnFilter(".*", 3, true);
      }
      else
      {
        project_table.fnFilter("false", 3, true);
      }
    });
  })
