%h4
  Add projects to Circle

= form_tag("TODO", :method => :post, :remote => true) do |f|
  %table
    %thead
      %tr
        %th Project
        %th Description
        %th Language
        %th.hidden Fork?
        %th.hidden Public?
        %th Add?
    - @result.each do |project|
      %tr
        %td
          CircleCI
        %td
          arohner/circleci
        %td
          Clojure
        %td.hidden
          No
        %td.hidden
          No
        %td
          = check_box_tag "arohner/circleci", "add", true # TODO: add project id here

  = check_box_tag("public", :id => "public")
  = check_box_tag("forks", :id => "forks")
  = submit_tag("Add projects")