%h1{:class => class_for_header(@step, index)}
  = header

%div{:class => "body#{index} #{class_for_subsection(@step, index)}"}
  - if body then
    = render :partial => body

%div{:class => "explanation #{class_for_subsection(@step, index)}"}
  - if explanation then
    = render :partial => explanation
