%h1{:class => "header #{class_for_header(@step, index)}", :id => "header#{index}"}
  = header

%div{:class => "body #{class_for_subsection(@step, index)}", :id => "body#{index}"}
  .contents
    - if index == @step
      = render :partial => "body#{@step}_#{@substep}"
    - else
      = render :partial => "body#{index}_1"


%div{:class => "explanation #{class_for_subsection(@step, index)}", :id => "explanation#{index}"}
  .contents
    - if index == @step
      = render :partial => "explanation#{index}"
