%h4
= form_tag(join_form_url, :method => :post) do |f|
  #filter.row
    .offset7.span3.show_cb
      = check_box_tag("public")
      = label_tag :public, "Show public repos?"
    .span2.show_cb
      = check_box_tag("fork")
      = label_tag :forks, "Show forks?"


  %table#projects
    %thead
      %tr
        %th Project
        %th Description
        %th Language
        %th Fork?
        %th Public?
        %th Add?
    %tbody
      - @result.sort_by{|a| DateTime.parse(a[:pushed_at])}.reverse.each do |project|
        - recent = ((DateTime.parse(project[:pushed_at]) > 3.months.ago) and (project[:private]) and (not project[:fork]))
        %tr
          %td
            - name = "#{project[:owner][:login]}/#{project[:name]}"
            = name
          %td
            = project[:description]
          %td
            = project[:language]
          %td
            = project[:fork]
          %td
            = not project[:private]
          %td
            = check_box_tag name, "add_project", recent

  = button_tag("Add projects", :class => "btn primary")

-# TECHNICAL_DEBT make this coffeescript
:javascript
  var project_table;
  $(document).ready(function() {
    show_forks = function () { project_table.fnFilter(".*", 3, true);};
    hide_forks = function () { project_table.fnFilter("false", 3, true);};

    show_public = function () { project_table.fnFilter(".*", 4, true);};
    hide_public = function () { project_table.fnFilter("false", 4, true);};

    project_table = $('#projects').dataTable({
      "bPaginate": false,
      "bSort": false,
      "bInfo": false,
      "oLanguage": {"sSearch": "",
                    "sEmptyTable": "No projects found",
                     "sZeroRecords": "No projects match your filters"},
      "aoColumnDefs": [{"bVisible": false, "aTargets": [3, 4]}]
    });
    $('#projects_filter input').attr('placeholder', 'Filter...');
    $('#projects_filter').detach().appendTo('#filter');
    $('#projects_filter').addClass('span4');
    $('#fork').change(function() {
      if ($('#fork').is(':checked'))
      {
        show_forks();
      }
      else
      {
        hide_forks();
      }
    });

    $('#fork').prop("checked", false);
    hide_forks();

    $('#public').change(function() {
      if ($('#public').is(':checked'))
      {
        show_public();
      }
      else
      {
        hide_public();
      }
    });
    $('#public').prop("checked", false);
    hide_public();
  })
