%h2
  We've got your code - we'd better get you an account

= twitter_bootstrap_form_for(@user, :url => user_registration_path) do |f|
  = f.text_field :name, :value => @user.fetched_name
  = f.email_field :email, :value => @user.fetched_email
  = f.password_field :password
  -#   = f.password_field :password_confirmation
  .clearfix.input
    = f.submit "Sign up", :class => "btn primary"
