!!!
%html
  %head
    %title Circle - Continuous Integration made easy

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}

    -# Airbrake catches errors, so it goes first.
    = airbrake_javascript_notifier

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    - begin
      = stylesheet_link_tag "controller-specific/" + params[:controller]
      = javascript_include_tag "controller-specific/" + params[:controller]
    - rescue AssetNotPrecompiledError

    = csrf_meta_tags

    = render :partial => 'intercom'
    = render :partial => 'google-analytics'
    = render :partial => 'on-loads'

  %body

    = render :partial => 'shared/navigation'

    %ul.hmenu
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    = yield
