!!!
%html
  %head
    %title Circle - Continuous Integration made easy

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Continuous Integration made easy", :name => "description"}
    %meta{:content => "Circle, heroku, continuous integration, continuous deployment, CI, github", :name => "keywords"}
    %meta{:content => "rCckS33lTuN6tiIrxLMykv_uRR0dMoHNM4XrR4yYUQ0", :name => "google-site-verification"}

    -# Beware, the ordering matters here!!
    = stylesheet_link_tag    "home/reset"
    = stylesheet_link_tag    "home/core"
    = stylesheet_link_tag    "home/colors_blue_and_green"
    = stylesheet_link_tag    "home/additional"
    = stylesheet_link_tag    "home/wufoo"
    /[if lte IE 8]
      = stylesheet_link_tag  "home/ie"
    /[if lte IE 10]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans", :media => "screen", :rel => "stylesheet", :type => "text/css"}

    = javascript_include_tag params[:controller]

    = csrf_meta_tags

    = render :partial => 'google-analytics'

  %body
    = yield

